body {
  font: 10px sans-serif;
}

/* explanations */
.explanation-box {
    position: absolute;
    bottom: 10px;
    right: 30px;
    color: #000;
    border: 2px solid #808080;
    padding: 10px;
    cursor: crosshair;
}

/* line charts */
#charts .container-fluid {
  background-color: #fff;
  position: relative;
}

#charts #select-chart {
  position: absolute;
  top: 20px;
  right: 30px;
  cursor: pointer;
}

#charts button#clear-all {
  position: absolute;
  top: 40px;
  right: 30px;
  cursor: pointer;
}

.axis path,
.axis line,
.axis1 path,
.axis1 line {
  fill: none;
  stroke: #e6e7e8;
  shape-rendering: crispEdges;
}

.x.axis path, .x.axis1 path {
  display: none;
}

.line {
  fill: none;
  stroke-width: 1.5px;
}

.legend-box, .legend-box-2 {
  cursor: pointer;
}

#mouse-tracker {
  stroke: #e6e7e8;
  stroke-width: 1px;
}

.hover-line {
  stroke: #e6e7e8;
  fill: none;
  stroke-width: 1px;
  left: 10px;
  shape-rendering: crispEdges;
  opacity: 1e-6;
}

.hover-text {
  stroke: none;
  font-size: 30px;
  font-weight: bold;
  fill: #000;
}

.tooltip {
  font-weight: normal;
}

.brush .extent {
  shape-rendering: crispEdges;
  fill: #808080;
}

.legend {
    color: black;
    background-color: white;
    margin: 5px;
    padding: 10px;
    border-radius: 5px;
    text-align: left;
}

.leaflet-control-layers-list {
  text-align: left;
}
