<section  id="charts" class="bg-primary text-white mb-0">
  <div class="container">
    <h2 class="text-center text-uppercase text-white">Graphical Dancing</h2>
    <hr class="star-light mb-5">
  </div>
  <div class="container-fluid">
    <div id="line-charts"></div>
    <select id="select-chart" autofocus>
      <option value="{{ url_for('static', filename='data/sb_max_temp.csv') }}, Avg Max Temp - Degrees Fahrenheit" selected="selected">Max Temperature</option>
      <option value="{{ url_for('static', filename='data/sb_min_temp.csv') }}, Avg Min Temp - Degrees Fahrenheit">Min Temperature</option>
      <option value="{{ url_for('static', filename='data/sb_humid.csv') }}, Avg Humidity - By Percentage">Humidity</option>
      <option value="{{ url_for('static', filename='data/sb_precip.csv') }}, Avg Precipitation - Decimal Percentage">Precipitation</option>
    </select>
    <button id="clear-all" type="button" name="button">Clear The Chart</button>
    <<div class="explanation-box">Hover Here</div>
  </div>
</section>
