<section id="info" class="bg-white">
  <div class="container">
    <h2 class="text-center text-uppercase text-secondary mb-0 mt-4">Infomatrix on a Location: Find Out!</h2>
    <hr class="star-dark mb-5">
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <div class="form-group floating-label-form-group controls mb-0 pb-2">

          <form method="POST" role="form" class="form-horizontal" action="sb_request">
            <div class="control-group">
              <div class="form-group floating-label-form-group controls mb-0 pb-2">
                <label><h3>Latitude, Longitude Geo Coordinates</h3></label>
                <input type="text" name="geo" placeholder="Lat, Lon">
              </div>
            </div>

            <br>
            <div id="success"></div>

            <div class="form-group">
              <button type="submit" class="btn btn-primary btn-xl">Click Me!</button>
            </div>
          </form>

        </div>
      </div>
      <div class="bg-white container-fluid">
        <div class="row">
          <div class="col-lg-10 offset-lg-2">
            <h4>Geo Coordinates = {{ sb.lat_lon }}</h4>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4 offset-lg-2">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th scope="col">Soil Properties: {{ sb.publish_date }}</th>
                  <th scope="col">Values</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">Carbon Content</th>
                  <td>{{ sb.carbon }}</td>
                </tr>
                <tr>
                  <th scope="row">Clay Amount</th>
                  <td>{{ sb.clay }}</td>
                </tr>
                <tr>
                  <th scope="row">pH Levels</th>
                  <td>{{ sb.ph }}</td>
                </tr>
                <tr>
                  <th scope="row">Cation Exchange Capacity</th>
                  <td>{{ sb.cec }}</td>
                </tr>
                <tr>
                  <th scope="row">Water Wilting Point</th>
                  <td>{{ sb.water_wp }}</td>
                </tr>
                <tr>
                  <th scope="row">Bulk Density</th>
                  <td>{{ sb.bulk }}</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="col-lg-4">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th scope="col">Climate Months_2016</th>
                  <th scope="col">Avg Max Temp F</th>
                  <th scope="col">Avg Min Temp F</th>
                  <th scope="col">Avg Precipitation /in</th>
                  <th scope="col">Avg Humidity %</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">January</th>
                  <td>{{ sb.jan_avg_max_tempF }}</td>
                  <td>{{ sb.jan_avg_min_tempF }}</td>
                  <td>{{ sb.jan_precipIn }}</td>
                  <td>{{ sb.jan_humidPerc }}</td>
                </tr>
                <tr>
                  <th scope="row">February</th>
                  <td>{{ sb.feb_avg_max_tempF }}</td>
                  <td>{{ sb.feb_avg_min_tempF }}</td>
                  <td>{{ sb.feb_precipIn }}</td>
                  <td>{{ sb.feb_humidPerc }}</td>
                </tr>
                <tr>
                  <th scope="row">March</th>
                  <td>{{ sb.mar_avg_max_tempF }}</td>
                  <td>{{ sb.mar_avg_min_tempF }}</td>
                  <td>{{ sb.mar_precipIn }}</td>
                  <td>{{ sb.mar_humidPerc }}</td>
                </tr>
                <tr>
                  <th scope="row">April</th>
                  <td>{{ sb.apr_avg_max_tempF }}</td>
                  <td>{{ sb.apr_avg_min_tempF }}</td>
                  <td>{{ sb.apr_precipIn }}</td>
                  <td>{{ sb.apr_humidPerc }}</td>
                </tr>
                <tr>
                  <th scope="row">May</th>
                  <td>{{ sb.may_avg_max_tempF }}</td>
                  <td>{{ sb.may_avg_min_tempF }}</td>
                  <td>{{ sb.may_precipIn }}</td>
                  <td>{{ sb.may_humidPerc }}</td>
                </tr>
                <tr>
                  <th scope="row">June</th>
                  <td>{{ sb.jun_avg_max_tempF }}</td>
                  <td>{{ sb.jun_avg_min_tempF }}</td>
                  <td>{{ sb.jun_precipIn }}</td>
                  <td>{{ sb.jun_humidPerc }}</td>
                </tr>
                <tr>
                  <th scope="row">July</th>
                  <td>{{ sb.jul_avg_max_tempF }}</td>
                  <td>{{ sb.jul_avg_min_tempF }}</td>
                  <td>{{ sb.jul_precipIn }}</td>
                  <td>{{ sb.jul_humidPerc }}</td>
                </tr>
                <tr>
                  <th scope="row">August</th>
                  <td>{{ sb.aug_avg_max_tempF }}</td>
                  <td>{{ sb.aug_avg_min_tempF }}</td>
                  <td>{{ sb.aug_precipIn }}</td>
                  <td>{{ sb.aug_humidPerc }}</td>
                </tr>
                <tr>
                  <th scope="row">September</th>
                  <td>{{ sb.sep_avg_max_tempF }}</td>
                  <td>{{ sb.sep_avg_min_tempF }}</td>
                  <td>{{ sb.sep_precipIn }}</td>
                  <td>{{ sb.sep_humidPerc }}</td>
                </tr>
                <tr>
                  <th scope="row">October</th>
                  <td>{{ sb.oct_avg_max_tempF }}</td>
                  <td>{{ sb.oct_avg_min_tempF }}</td>
                  <td>{{ sb.oct_precipIn }}</td>
                  <td>{{ sb.oct_humidPerc }}</td>
                </tr>
                <tr>
                  <th scope="row">November</th>
                  <td>{{ sb.nov_avg_max_tempF }}</td>
                  <td>{{ sb.nov_avg_min_tempF }}</td>
                  <td>{{ sb.nov_precipIn }}</td>
                  <td>{{ sb.nov_humidPerc }}</td>
                </tr>
                <tr>
                  <th scope="row">December</th>
                  <td>{{ sb.dec_avg_max_tempF }}</td>
                  <td>{{ sb.dec_avg_min_tempF }}</td>
                  <td>{{ sb.dec_precipIn }}</td>
                  <td>{{ sb.dec_humidPerc }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
