<section id="video" class="video-header wrap">
  <div class="fullscreen-video-wrap">
    <video autoplay loop muted>
      <source src="{{ url_for('static', filename='videos/mountain-film-2.mp4') }}" type="video/mp4">
      <source src="{{ url_for('static', filename='videos/mountain-film-2.ogv') }}" type="video/ogg">
        Your browser does not support the video tag.
    </video>
    <div class="header-overlay">
      <div class="header-content text-white">
        <div class="display">
          <h1 class="text-uppercase mb-0">Who Doesn't Like Sauvignon Blanc?</h1>
          <p>Your friendly web-application designed to provide you with relevant info on grape cultivating locations, optimized for Sauvignon Blanc.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="intro" class="bg-primary text-white mb-0">
  <div class="container">
    <h2 class="text-center text-uppercase text-white">Explanatorium</h2>
    <hr class="star-light mb-5">
    <div class="row">
      <div class="col-lg-6 mr-auto">
        <p class="lead">What makes really great wine? It takes more than love and patience to make an excellent vintage. We sought out to find the trends that create a beautiful glass of vino around the world. Using our love and skill for data we identified that climate and soil composition tell the story of how great wine-grapes are created.</p>
      </div>
      <div class="col-lg-6 ml-auto">
        <p class="lead">Sauvignon Blanc is one of the most popular wines in the world, and is the most profitable wine in the world. The characteristics the Sauvignon Blanc grapes lend itself to being the front runner. It thrives in cool climates, but can develop desirable flavors in both cool and warm environments. This has allowed it to be grown across the globe. It buds early, grows quickly, and can produce several harvest within the same year. All seasons are Sauvignon Blanc season.</p>
      </div>
    </div>
  </div>
</section>
