<section id="map" class="bg-white portfolio">
  <div id="wineMap" class="col-lg-8 offset-lg-2" style="height: 820px;"></div>
  <div class="col-lg-10 mx-auto">
    <p class="lead">Location, location, location! The map above indicates the Sauvignon Blanc vineyards ranked by <a href="https://www.winemag.com/">Wine Enthusiast Magazine</a> for the year 2016. Each marker represents a different appellation. By clicking on a marker the legend will update with relevant information for that locale. The container above the legend allows you to filter the selected vineyards further by rank - Best Rated: x&gt;=90, Greatly Rated: 90&gt;x&gt;=85, Moderately Rated: x&gt;85.</p>
  </div>
</section>
