<section id="map">
  <div class="container-fluid">
    <div class="row">
      <div class="display col-lg-10 mx-auto">
        <h1>Location, location, location!</h1>
        <p>The map below shows the Sauvignon Blanc vineyards ranked by <a href="https://www.winemag.com/">Wine Enthusiast Magazine</a>
          for the year 2016. Each marker represents a different appellation. By clicking on a marker the legend will update with relevant
          information for that locale. The container above the legend allows you to filter the selected vineyards further by rank - Best Rated:
          x&gt;=90, Greatly Rated: 90&gt;x&gt;=85, Moderately Rated: x&gt;85.</p>
      </div>
      <div class="col-lg-10 mx-auto">
        <div id="wineMap"></div>
        <button id="clear-box" class="click-button" type="button" name="button">Clear the Legend</button>
        <!-- modal trigger -->
        <div class="explanation-box" onmouseover="document.getElementById('modal01').style.display='block'" onmouseout="document.getElementById('modal01').style.display='none'">Hover Here</div>
      </div>
    </div>
  </div>
  <!-- the modal -->
  <div id="modal01" class="w3-modal">
    <div class="w3-modal-content">
        <img class="w3-modal-content" src="{{ url_for('static', filename='images/wine_map.gif') }}" style="width:100%;">
    </div>
  </div>
</section>
