<section id="map" class="bg-white portfolio">
  <iframe class="col-lg-8 offset-lg-2 text-center" src="{{ url_for('static', filename='iFrames/d3.html') }}" height="820" frameborder="0" scrolling="no"></iframe>
  <div class="col-lg-10 mx-auto">
    <br>
    <p class="lead">Location, location, location! The map above indicates the Sauvignon Blanc vineyards ranked by <a href="https://www.winemag.com/">Wine Enthusiast Magazine</a> for the year 2016. Each marker represents a different appellation. By clicking on a marker the legend will update with relevant information for that locale. The container above the legend allows you to filter the selected vineyards further by rank - Best Rated: x&gt;=90, Greatly Rated: 90&gt;x&gt;=85, Moderately Rated: x&gt;85.</p>
  </div>
</section>
